:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --gray-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1 {
  font-size: 22px;
  margin: 20px 20px 15px 20px;
  text-align: center;
  color: var(--dark-blue);
}

p {
  font-size: 15px;
  text-align: center;
  color: var(--gray-blue);
  margin: 0 20px;
}

.qr-container {
  max-width: 300px;
  background-color: var(--white);
  padding: 17px;
  margin: 17px;
  height: 78vh;
  border-radius: 20px;
}

img {
  width: 100%;
  border-radius: 10px;
}
