:root {
  --cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --dark-blue: hsl(212, 21%, 14%);
  --gray-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--cream) !important;
  display: flex;
  justify-content: center;
}

main {
  margin: 2em 1em;
  border-radius: 0.75em;
  background-color: var(--white);
}

article {
  font-family: "Montserrat", sans-serif;
  color: var(--gray-blue);
  padding: 1.75em;
}

article h1 {
  font-family: "Fraunces", serif;
  color: var(--dark-blue);
}

p {
  font-size: 0.875rem;
}

img {
  border-radius: 0.75em 0.75em 0 0;
}

.img-desktop {
  display: none;
}

.product {
  text-transform: uppercase;
  color: var(--gray-blue);
  letter-spacing: 0.4rem;
  font-size: 0.75rem;
}

.price {
  display: flex;
  align-items: center;
}

.sale-price {
  font-family: "Fraunces", serif;
  color: var(--cyan);
  font-size: 2rem;
}

.msrp {
  font-size: 0.75rem;
  margin-left: 2em;
}

.add-cart {
  font-weight: 700;
  color: var(--cyan);
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  border: none;
  color: var(--white);
  background-color: var(--cyan);
  border-radius: 0.5em;
}

.add-cart:hover {
  background-color: #1a4031;
}

i {
  margin-right: 0.5em;
}

@media (min-width: 650px) {
  main {
    display: flex;
    max-width: 700px;
  }
  .img-mobile {
    display: none;
  }
  .img-desktop {
    display: block;
    max-height: 70vh;
  }
  img {
    border-radius: 0.75em 0 0 0.75em;
  }
  article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
